<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Квант</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,100..900;1,100..900&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <style>
        li {
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-style: light;
        }
        h1, h2 {
        font-family: "Google Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        }
    </style>
</head>
<body>
    <h1>Добро пожаловать на сайт Кванта</h1>

    <h2>Наши преподаватели:</h2>
    <ul>
        {% for teacher in teachers %}
            <li><a href="teachers/{{ teacher.link }}">{{ teacher.name }}</a></li>
        {% endfor %}
    </ul>

    <h2>Наши курсы:</h2>
    <ul>
        {% for course, course_name in courses %}
            <li><a href="courses/{{ course }}">{{ course_name }}</a></li>
        {% endfor %}
    </ul>
</body>
</html>