{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <title>{% block title %}Default{% endblock %}</title>
    {% block styles %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% endblock %}

    <meta charset="UTF-8">
</head>
<body>
    <header>
        <p>
            <img width="100px" src="{% static 'images/kvant-logo.png' %}" alt="Логотип">
            <h1>Лагерь квант</h1>
    </header>

    {% block content %}
        <h1>Default content</h1>
    {% endblock %}
</body>
</html>