{% extends "base.html" %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="main_styles.css">
{% endblock %}

{% block title %}Квант{% endblock %}


{% block content %}
    {{ block.super }}

    <h1>Добро пожаловать на сайт Кванта</h1>
    <h2>Наши курсы</h2>

    <ul>

        {% for slug, description in courses %}
            <li><a href="courses/{{ slug }}/">{{ slug }}</a></li>
        {% empty %}
            <li>Курсов нет</li>
        {% endfor %}
    </ul>
{% endblock %}


<footer>
    Подвал
</footer>
