{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<header class="header">
    <div class="logo-wrapper">
        <img src="{% static '/images/kvant-logo.png' %}" alt="Логотип">
    </div>
    <span>Квант</span>
</header>

{% block content %} {% endblock %}

<footer>
    <ul>
        <li>О нас</li>
        <li>Контакты</li>
        <li>kvant@mail.ru</li>
    </ul>
</footer>

</body>
</html>